<h1>New Game</h1>

<h3>
  <% @letters.each do |letter| %>
  <%= letter %>
  <% end%>
</h3>

<p>What is the longest word you can find?</p>
<form action="score" method="post">
 <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
 <input type="text" name="word" type="hidden">
 <input name="letter_array" value="<%=@letters.join%>" type="hidden">
 <input type="submit" value="Play!">
</form>



